<div  class="">
    <span class="pull-left"><img width="64" ng-src="assets/img/calculator.png" alt=""/></span>

    <h3 class="pull-left home-h3">Calculateur de charge</h3>
    <span class="clearfix"></span>
    <hr/>
    <div>
        <input type="text" ng-model="tun" ng-change="changeCalcule()" placeholder="Poids (T1)">
        <input type="text" ng-model="tzero" ng-change="changeCalcule()" placeholder="Poids sans charge (T0)">
        <hr>
        <p>Total jours homme : <span class="label label-info">{{total}}</span></p>
    </div>
</div>